aws_region           = "eu-central-1"
project_name         = "sofiasummit"
site_domain          = "sofiasummit.bg"
github_pages_origin  = "krasen2000kstanev-hub.github.io"
api_base_url         = "https://api.sofiasummit.bg"
